<md-dialog>
	<md-dialog-content>
		<div ng-if="currentStep === 'name'">
      		<md-input-container>
      			<label>Name</label>
      			<input ng-model="person.fullname"/>
      		</md-input-container>
		</div>

		<div ng-if="currentStep === 'sex'">
			<md-input-container>
			  <label>Sex</label>
			  <md-select ng-model="person.sex" ng-model-options="{trackBy: '$value.id'}">
			    <md-option ng-value="sex" ng-repeat="sex in sexes">
			    	{{ sex.description }}</md-option>
			  </md-select>
			</md-input-container>
		</div>

	</md-dialog-content>

    <md-dialog-actions>
		<md-button ng-click="next()" ng-if="hasPrevious(currentStep)"
			class="md-primary" ng-bind="'<< ' + currentStep.previousTitle"></md-button>

		<md-button ng-click="previous()" ng-if="hasNext(currentStep)"
			class="md-primary" ng-bind="currentStep.nextTitle + ' >>'"></md-button>

		<md-button ng-click="cancel()">Cancel</md-button>
		<md-button ng-click="finish()" ng-if="currentStep.finishAction" class="md-raised">Finish</md-button>

    </md-dialog-actions>
</md-dialog>