<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <title>ui-static</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
    <link rel="icon" type="image/ico" href="favicon.ico"/>
    <link href="assets/css/app.less" type="text/css" rel="stylesheet/less"/>
</head>
<body layout="column" ng-controller="MainCtrl">

<!-- JS from Bower Components -->
<script src="bower_components/less.js/dist/less.js" data-concat="false"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/spin.js/spin.js"></script>
<script src="bower_components/angular-loading/angular-loading.js"></script>

<!-- Add New Bower Component JS Above -->

<script src="environment.js"></script>

<!-- config -->
<script src="app/app.module.js"></script>
<script src="app/app.routes.js"></script>
<script src="app/shared/material-icon/material-icon.js"></script>

<!-- directives -->

<!-- controllers -->
<script src="app/components/main/main-ctrl.js"></script>
<script src="app/components/home/home-ctrl.js"></script>
<script src="app/components/report/report-ctrl.js"></script>

<!--Services-->
<script src="app/shared/sex-change-wizard/sexchange-controller.js"></script>
<script src="app/shared/sex-change-wizard/sexchange-service.js"></script>

<!--Filters-->

<!-- Add New Component JS Above -->

<script src="assets/js/util.js"></script>

<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
            <i class="material-icons" material-icon="view_headline"></i>
        </md-button>
        <h1>Angular Material: </h1>
    </div>
</md-toolbar>
<div layout="row" flex>
    <md-sidenav layout="column"
                class="md-sidenav-left md-whiteframe-4dp"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">
        <md-button class="md-accent" href="/#/home">Button 1</md-button>
        <md-button class="md-accent" href="/#/report">Button 2</md-button>
    </md-sidenav>
    <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
            This Starter Application consists of a Toolbar, SideNav (with two buttons), and Content area.
            <div ng-view></div>
        </md-content>
    </div>
</div>

</body>
</html>
