<div ng-controller="ReportCtrl as report" ng-cloak>
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom md-selected="report.data.selectedIndex">
            <md-tab label="Form" ng-click="report.data.selectedIndex = 0;">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Tab {{report.data.selectedIndex + 1}}</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus
                        volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium
                        ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.
                    </p>
                    <div>
                        <form>
                            <div>
                                <md-input-container>
                                    <label for="label">Label</label>
                                    <input type="text" id="label" ng-model="tTitle">
                                </md-input-container>
                                <md-input-container>
                                    <label for="content">Content</label>
                                    <input type="text" id="content" ng-model="tContent">
                                </md-input-container>
                                <md-button class="add-tab md-primary md-raised" ng-disabled="!tTitle || !tContent"
                                           type="submit" style="margin-right: 0;">Submit
                                </md-button>
                            </div>

                        </form>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Text" ng-click="report.data.selectedIndex = 1;">
                <md-tab-body>
                    <h3 class="md-heading">Tab {{report.data.selectedIndex + 1}}</h3>
                    <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                        vitae
                        dicta sunt explicabo.
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    </p>
                    <p class="md-body-2">
                        Body copy with medium weight.
                    </p>
                    <p class="md-body-1">Regular body copy
                        <small class="md-caption">with small text</small>
                        .
                    </p>
                    <span class="md-caption">Caption</span>
                </md-tab-body>
            </md-tab>
            <md-tab label="Buttons" ng-click="report.data.selectedIndex = 2;">
                <h3 class="md-heading">Tab {{report.data.selectedIndex + 1}}</h3>
                <md-button>Flat Button</md-button>
                <md-button href="http://google.com">Flat link</md-button>
                <md-button class="md-raised">Raised Button</md-button>
                <md-button ng-disabled="true">Disabled Button</md-button>
                <md-button>
                    <md-icon md-svg-src="/assets/img/ic_reorder_black_24px.svg"></md-icon>
                    Register Now
                </md-button>
                <p>Specifying intention group</p>
                <md-button class="md-primary">Click me</md-button>
                <md-button class="md-accent">or maybe me</md-button>
                <md-button class="md-warn">Careful</md-button>
                <p>Differentiating within an intention group.</p>
                <md-button class="md-primary">Click me</md-button>
                <md-button class="md-primary md-hue-1">Click me</md-button>
                <md-button class="md-primary md-hue-2">Click me</md-button>

                <p>
                    FAB buttons
                </p>
                <md-button class="md-fab" aria-label="FAB">
                    <md-icon md-svg-src="your/icon.svg"></md-icon>
                </md-button>
                <!-- mini-FAB -->
                <md-button class="md-fab md-mini" aria-label="Mini FAB">
                    <md-icon md-svg-src="your/icon.svg"></md-icon>
                </md-button>
                <!-- Button with SVG Icon -->
                <md-button class="md-icon-button" aria-label="Custom Icon Button">
                    <md-icon md-svg-icon="path/to/your.svg"></md-icon>
                </md-button>
            </md-tab>
            <md-tab label="Checkboxes" ng-click="report.data.selectedIndex = 3;">
                <h3 class="md-heading">Tab {{report.data.selectedIndex + 1}}</h3>
                <div>
                    <md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" ng-true-value="'yup'"
                                 ng-false-value="'nope'">
                        Default Border
                    </md-checkbox>
                </div>
                <div>
                    <md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" ng-true-value="'yup'" class="dotted"
                                 ng-false-value="'nope'">
                        Custom Border
                    </md-checkbox>
                </div>
            </md-tab>
            <md-tab label="Headlines" ng-click="report.data.selectedIndex = 4;">
                <h3 class="md-heading">Tab {{report.data.selectedIndex + 1}}</h3>
                <h1 class="md-display-3">Headline</h1>
                <h2 class="md-display-1">Headline</h2>
                <h3 class="md-headline">Headline</h3>
            </md-tab>
            <md-tab label="menu" ng-click="report.data.selectedIndex = 5;">
                <div>
                    <md-toolbar class="md-menu-toolbar">
                        <div layout="row">
                            <md-toolbar-filler layout layout-align="center center">
                                <h3 class="md-heading">Tab {{report.data.selectedIndex + 1}}</h3>
                            </md-toolbar-filler>
                            <div>
                                <h2 class="md-toolbar-tools">Untitled document</h2>
                                <md-menu-bar>
                                    <md-menu>
                                        <button ng-click="$mdOpenMenu()">
                                            File
                                        </button>
                                        <md-menu-content>
                                            <md-menu-item>
                                                <md-button ng-click="ctrl.sampleAction('share', $event)">
                                                    Share...
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item>
                                                <md-menu>
                                                    <md-button ng-click="$mdOpenMenu()">New</md-button>
                                                    <md-menu-content>
                                                        <md-menu-item>
                                                            <md-button
                                                                    ng-click="ctrl.sampleAction('New Document', $event)">
                                                                Document
                                                            </md-button>
                                                        </md-menu-item>
                                                        <md-menu-item>
                                                            <md-button
                                                                    ng-click="ctrl.sampleAction('New Spreadsheet', $event)">
                                                                Spreadsheet
                                                            </md-button>
                                                        </md-menu-item>
                                                        <md-menu-item>
                                                            <md-button
                                                                    ng-click="ctrl.sampleAction('New Presentation', $event)">
                                                                Presentation
                                                            </md-button>
                                                        </md-menu-item>
                                                        <md-menu-item>
                                                            <md-button ng-click="ctrl.sampleAction('New Form', $event)">
                                                                Form
                                                            </md-button>
                                                        </md-menu-item>
                                                        <md-menu-item>
                                                            <md-button
                                                                    ng-click="ctrl.sampleAction('New Drawing', $event)">
                                                                Drawing
                                                            </md-button>
                                                        </md-menu-item>
                                                    </md-menu-content>
                                                </md-menu>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="ctrl.sampleAction('Open', $event)">
                                                    Open...
                                                    <span class="md-alt-text"> {{ 'M-O' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button disabled="disabled"
                                                           ng-click="ctrl.sampleAction('Rename', $event)">
                                                    Rename
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item>
                                                <md-button ng-click="ctrl.sampleAction('Print', $event)">
                                                    Print
                                                    <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    <md-menu>
                                        <button ng-click="$mdOpenMenu()">
                                            Edit
                                        </button>
                                        <md-menu-content>
                                            <md-menu-item class="md-indent">
                                                <md-icon md-svg-icon="undo"></md-icon>
                                                <md-button ng-click="ctrl.sampleAction('undo', $event)">
                                                    Undo
                                                    <span class="md-alt-text">{{ 'M-Z' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item class="md-indent">
                                                <md-icon md-svg-icon="redo"></md-icon>
                                                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                                                    Redo
                                                    <span class="md-alt-text">{{ 'M-Y' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item class="md-indent">
                                                <md-icon md-svg-icon="content-cut"></md-icon>
                                                <md-button ng-click="ctrl.sampleAction('cut', $event)">
                                                    Cut
                                                    <span class="md-alt-text">{{ 'M-X' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item class="md-indent">
                                                <md-icon md-svg-icon="content-copy"></md-icon>
                                                <md-button ng-click="ctrl.sampleAction('copy', $event)">
                                                    Copy
                                                    <span class="md-alt-text">{{ 'M-C' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item class="md-indent">
                                                <md-icon md-svg-icon="content-paste"></md-icon>
                                                <md-button ng-click="ctrl.sampleAction('paste', $event)">
                                                    Paste
                                                    <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item class="md-indent">
                                                <md-button ng-click="ctrl.sampleAction('Find and replace', $event)">
                                                    Find and replace...
                                                    <span class="md-alt-text">{{ 'M-S-H' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    <md-menu>
                                        <button ng-click="$mdOpenMenu()">
                                            View
                                        </button>
                                        <md-menu-content>
                                            <md-menu-item type="checkbox" ng-model="ctrl.settings.printLayout">Print
                                                layout
                                            </md-menu-item>
                                            <md-menu-item class="md-indent">
                                                <md-menu>
                                                    <md-button ng-click="$mdOpenMenu()">Mode</md-button>
                                                    <md-menu-content width="3">
                                                        <md-menu-item type="radio"
                                                                      ng-model="ctrl.settings.presentationMode"
                                                                      value="'presentation'">Presentation
                                                        </md-menu-item>
                                                        <md-menu-item type="radio"
                                                                      ng-model="ctrl.settings.presentationMode"
                                                                      value="'edit'">Edit
                                                        </md-menu-item>
                                                        <md-menu-item type="radio"
                                                                      ng-model="ctrl.settings.presentationMode"
                                                                      value="'modifiable'">Modifiable
                                                        </md-menu-item>
                                                    </md-menu-content>
                                                </md-menu>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item type="checkbox" ng-model="ctrl.settings.showRuler">Show ruler
                                            </md-menu-item>
                                            <md-menu-item type="checkbox" ng-model="ctrl.settings.showEquationToolbar">
                                                Show
                                                equation toolbar
                                            </md-menu-item>
                                            <md-menu-item type="checkbox"
                                                          ng-model="ctrl.settings.showSpellingSuggestions">
                                                Show
                                                spelling suggestions
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item type="checkbox" ng-model="ctrl.settings.compactControls">
                                                Compact
                                                controls
                                            </md-menu-item>
                                            <md-menu-item type="checkbox" ng-model="ctrl.settings.fullScreen">Full
                                                screen
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    <md-menu>
                                        <button ng-click="$mdOpenMenu()">
                                            Format
                                        </button>
                                        <md-menu-content>
                                            <md-menu-item>
                                                <md-button ng-click="ctrl.sampleAction('bold', $event)">
                                                    Bold
                                                    <span class="md-alt-text"> {{ 'M-B' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="ctrl.sampleAction('italic', $event)">
                                                    Italic
                                                    <span class="md-alt-text">{{ 'M-I' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="ctrl.sampleAction('underline', $event)">
                                                    Underline
                                                    <span class="md-alt-text">{{ 'M-U' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="ctrl.sampleAction('strikethrough', $event)">
                                                    Strikethrough
                                                    <span class="md-alt-text">{{ 'A-S-5' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="ctrl.sampleAction('superscript', $event)">
                                                    Superscript
                                                    <span class="md-alt-text">{{ 'M-.' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="ctrl.sampleAction('subscript', $event)">
                                                    Subscript
                                                    <span class="md-alt-text">{{ 'M-,' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item>
                                                <md-button ng-click="ctrl.toggleSetting('clearFormatting')">Clear
                                                    Formatting
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </md-menu-bar>
                            </div>
                        </div>
                    </md-toolbar>
                    <md-content layout-padding>
                        <md-card>
                            <md-card-header>Untitled document</md-card-header>
                            <md-card-content>
                                <p>
                                    Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget
                                    urna
                                    mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient
                                    montes,
                                    nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Nulla
                                    vitae
                                    elit
                                    libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                    Integer
                                    posuere erat a ante venenatis dapibus posuere velit aliquet.
                                </p>
                                <p>
                                    Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula
                                    porta
                                    felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
                                    auctor.
                                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est
                                    non
                                    commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nulla
                                    vitae
                                    elit
                                    libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
                                    venenatis
                                    vestibulum.
                                </p>
                                <p>
                                    Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum.
                                    Maecenas
                                    sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus
                                    magna,
                                    vel
                                    scelerisque nisl consectetur et.
                                </p>
                            </md-card-content>
                        </md-card>
                    </md-content>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>
</div>